<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
<body>
    <div class="container">
        <form action="{{ url_for('create') }}" method="POST">
            <div class="form-group">
                <label for="name">主題:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="description">內容:</label>
                <input type="text" name="description" id="description" required>
            </div>
            {% if session.get('username') %}
                <div class="form-group">
                    <label for="author">作者:</label>
                    <input type="text" name="author" id="author" value="{{ session['username'] }}" readonly>
                </div>
            {% endif %}
            <button type="submit" class="button">Create</button>
        </form>
        <a href="{{ url_for('index') }}" class="button">Go back to Home</a>
    </div>
</body>
</html>
