<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Update Entry</h1>
        <form action="{{ url_for('update.update', id=entry['_id']) }}" method="POST" enctype="multipart/form-data">
            <!-- 過濾特定欄位並顯示 -->
            {% for key, value in entry.items() %}
                {% if key == 'replies' %}
                    <h4>Replies:</h4>
                    <div id="reply-container">
                        {% for reply in value %}
                            <div class="reply-group">
                                <label>用戶:</label>
                                <input type="text" name="replies[{{ loop.index0 }}][user]" value="{{ reply.user }}">
                                <label>訊息:</label>
                                <input type="text" name="replies[{{ loop.index0 }}][message]" value="{{ reply.message }}">

                                {% if reply.image_url %}
                                    <div>
                                        <img src="{{ reply.image_url }}" alt="Reply Image" style="max-width: 200px; margin-top: 10px;">
                                        <input type="hidden" name="replies[{{ loop.index0 }}][image_url]" value="{{ reply.image_url }}">
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% elif key not in ['_id', 'updated_by', 'updated_at'] %}
                    <!-- 顯示主題與內容 -->
                    <div class="form-group">
                        <label for="{{ key }}">
                            {% if key == 'name' %}
                                主題:
                            {% elif key == 'description' %}
                                內容:
                            {% else %}
                                {{ key | capitalize }}:
                            {% endif %}
                        </label>
                        <input type="text" name="{{ key }}" id="{{ key }}" value="{{ value }}">
                    </div>
                {% endif %}
            {% endfor %}

            <input type="submit" value="Update">
        </form>   
        <a href="{{ url_for('index') }}" class="button">Go back to Home</a>
    </div>
</body>
</html>
